.Navbar{
    background-color: rgb(123, 123, 231);
    display: flex;
    justify-content: space-around;
    
}
button{
    background-color: purple;
    color: aquamarine;
    width: 6rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}







